<div class="row">
    <div class="col-12 col-lg">
        <p>This is the overview page for project @Project.ProjectCode.</p>
    </div>
    <div class="col-12 col-lg-auto" style="min-width: 21rem;">
        <LeadAnalystCard LeadAnalyst="Project.LeadAnalyst" LeadAnalystChanged="UpdateLeadAnalyst" />
    </div>
</div>


