<div class="row">
    <div class="col-12 col-lg">
        <p>This is the overview page for project @Project.ProjectCode.</p>
    </div>
    <div class="col-12 col-lg-auto" style="min-width: 21rem;">
        <LeadAnalystCard LeadAnalyst="Project.LeadAnalyst" LeadAnalystChanged="UpdateLeadAnalyst" />
    </div>
</div>

@code {

    [Inject]
    private IApiClient ApiClient { get; set; } = default!;

    [Parameter]
    public required ProjectDto Project { get; set; }

    [Parameter]
    public required EventCallback<ProjectDto> ProjectChanged { get; set;  }

    private bool IsBusy { get; set; }

    private async Task UpdateLeadAnalyst(ProjectDto.LeadAnalystDto? analyst)
    {
        if (IsBusy) return;
        IsBusy = true;

        var result = await ApiClient.SendAsync(new UpdateLeadAnalystRequest
        {
            AnalystId = analyst?.Id,
            ProjectId = Project.Id
        });

        if (!result.IsError)
        {
            await ProjectChanged.InvokeAsync(Project with
            {
                LeadAnalyst = analyst
            });
        }

        IsBusy = false;
    }
}
