<div class="row">
    <div class="col-12 col-lg">
        <ProjectSchedule ProjectId="Project.Id" />
    </div>
    <div class="col-12 col-lg-auto" style="min-width: 21rem;">
        <LeadAnalystCard Project="Project" ProjectChanged="ProjectChanged" />
    </div>
</div>
