nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f5f9;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #dbdbdb;
    transition: width .2s ease;
    height: var(--sidebar-height);
    width: var(--sidebar-width);
    transition: width 0.2s ease;
}

    nav ::deep .nav-link {
        text-decoration: none;
    }

        nav ::deep .nav-link.active {
            background-color: #e2e8f0;
        }

        nav ::deep .nav-link:not(.active) {
            color: #1e293b;
        }

        nav ::deep .nav-link:not(.active):hover {
            background-color: #e2e8f0;
        }

        nav ::deep .nav-icon {
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            width: 2.75rem;
            min-width: 2.75rem;
            display: flex;
            justify-content: center;
        }

    nav ::deep .nav-text {
        max-width: 0;
        overflow-x: hidden;
        white-space: nowrap;
    }

@media (min-width: 768px) {
    nav {
        --sidebar-width: 16.5rem;
        align-items: flex-start;
    }

        nav ::deep .nav-text {
            max-width: 100%;
        }
}
