@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <TopNav />
        <div class="d-flex flex-column h-100 w-100">
            <main class="d-flex flex-row flex-grow-1">
                @Body
            </main>
        </div>
    </Authorized>
    <NotAuthorized>@Body</NotAuthorized>
    <Authorizing>@Body</Authorizing>
</AuthorizeView>
