@inherits LayoutComponentBase

<div class="d-flex flex-column h-100 w-100">
    <AuthorizeView>
        <Authorized>
            <TopNav />
            <main class="d-flex flex-row flex-grow-1">
                @if (context.User.GetLabName() is { Length: > 0 } labName)
                {
                    <LaboratorySideNav LabName="@labName" />
                }
                <div class="d-flex flex-column flex-grow-1">
                    @Body
                </div>
            </main>
        </Authorized>
        <NotAuthorized>@Body</NotAuthorized>
        <Authorizing>@Body</Authorizing>
    </AuthorizeView>
</div>
