@inherits LayoutComponentBase

<div class="d-flex flex-column h-100 w-100">
    <AuthorizeView>
        <Authorized>
            <TopNav />
            <main class="d-flex flex-row flex-grow-1">
                @Body
            </main>
        </Authorized>
        <NotAuthorized>@Body</NotAuthorized>
        <Authorizing>@Body</Authorizing>
    </AuthorizeView>
</div>
