<AuthorizeView>
    <nav class="navbar navbar-vertical navbar-expand-lg">
        <div id="navbarVerticalCollapse" style="width: 100%;">
            <div class="navbar-vertical-content">
                @ChildContent
            </div>
        </div>
    </nav>
</AuthorizeView>

@code {

    [Parameter] 
    public RenderFragment? ChildContent { get; set; }
}