@page "/l/projects/{ProjectCode}"
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader />

<div class="content flex-grow-1" style="background-color: #f8fafc">
    <div class="px-4 h-100">
        <p>This is the project details page for project @ProjectCode.</p>
    </div>
</div>

@code {

    [Parameter]
    public required string ProjectCode { get; set; }
}