<BeaconForm Model="Model" OnValidSubmit="Submit">
    <Modal>
        <div class="modal-body">
            <div class="field">
                <label class="form-label" for="email">Email</label>
                <InputText @bind-Value="Model.NewMemberEmailAddress" class="form-control" id="email" type="email" placeholder="eg, jsparrow@blackpearl.arg" />
                <ValidationMessage For="() => Model.NewMemberEmailAddress" />
            </div>
        </div>
        <footer class="modal-footer">
            <SubmitButton class="btn btn-primary">Send Invite</SubmitButton>
            <button class="btn btn-secondary" type="button" @onclick="Cancel">Cancel</button>
        </footer>
    </Modal>
</BeaconForm>

@code {

    [Parameter]
    public required Guid LaboratoryId { get; set; }

    [CascadingParameter] 
    private BlazoredModalInstance Modal { get; set; } = null!;

    private InviteLabMemberRequest? _model;
    private InviteLabMemberRequest Model => _model ??= new() { LaboratoryId = LaboratoryId };

    private async Task Submit(BeaconForm form)
    {
        var result = await ApiClient.SendEmailInvitation(Model);

        if (result.IsError)
        {
            form.AddErrors(result.Errors);
            return;
        }

        await Modal.CloseAsync(ModalResult.Ok());
    }

    private async Task Cancel() => await Modal.CancelAsync();
}