<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var membership in Memberships)
        {
            <tr>
                <td></td>
                <td>
                    <a href="@NavigationHelper.GetLabDetailsHref(membership.Laboratory.Id)">
                        <AvatarSquare Value="@membership.Laboratory.Name[0]" FontSize="1rem" Size="1.5rem" />
                        <span class="nav-text">@membership.Laboratory.Name</span>
                    </a>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired] 
    public required IList<LaboratoryMembershipDto> Memberships { get; set; }
}