<button type="button" disabled="@IsDisabled" @onclick="ShowInviteMemberModal" @attributes="@AdditionalAttributes">
    <span class="icon">
        <i class="fa-solid fa-user-plus"></i>
    </span>
    <span>Invite member</span>
</button>

@code {

    [Inject]
    private ICurrentUser CurrentUser { get; set; } = default!;

    [CascadingParameter]
    private IModalService ModalService { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object?>? AdditionalAttributes { get; set; }

    private bool IsDisabled => CurrentUser.MembershipType is null or < LaboratoryMembershipType.Manager;

    private async Task ShowInviteMemberModal()
    {
        await ModalService.Show<InviteMemberModal>("Invite Lab Member").Result;
    }
}
