<button type="button" disabled="@IsDisabled()" @onclick="ShowInviteMemberModal" @attributes="@AdditionalAttributes">
    <span class="icon">
        <i class="fa-solid fa-user-plus"></i>
    </span>
    <span>Invite member</span>
</button>
