<button type="button" class="btn btn-primary" disabled="@IsDisabled" @onclick="ShowInviteMemberModal">
    <span class="icon">
        <i class="fa-solid fa-user-plus"></i>
    </span>
    <span>Invite member</span>
</button>

@code {

    [CascadingParameter]
    private LaboratoryDto CurrentLab { get; set; } = default!;

    [CascadingParameter]
    private IModalService ModalService { get; set; } = default!;

    private bool IsDisabled { get; set; } = true;

    protected override void OnParametersSet()
    {
        IsDisabled = CurrentLab.MyMembershipType < LaboratoryMembershipType.Manager;
    }

    private async Task ShowInviteMemberModal()
    {
        await ModalService.Show<InviteMemberModal>("Invite Lab Member").Result;
    }
}
