@inherits ButtonBase

<button type="button" disabled="@IsDisabled" @onclick="Click" @attributes="@AdditionalAttributes">
    <span class="icon @(IsDisabled ? "" : "text-primary")">
        <i class="fa-regular fa-pencil"></i>
    </span>
    <span>Manage Permissions</span>
</button>

@code {

    [Parameter, EditorRequired]
    public required LaboratoryMemberDto Member { get; set; }

    [CascadingParameter]
    private MembershipContext Context { get; set; } = default!;

    protected override bool IsDisabled => !Context.CanManagePermissions(Member);
    protected override Task Click() => Context.ShowManagePermissionsModal(Member);
}