<button type="button" disabled="@IsDisabled" @onclick="Click" @attributes="@AdditionalAttributes">
    <span class="icon @(IsDisabled ? "" : "text-primary")">
        <i class="fa-regular fa-pencil"></i>
    </span>
    <span>Manage Permissions</span>
</button>

