<BeaconForm Model="Model" OnValidSubmit="Submit">
    <Modal>
        <div class="modal-body">
            <div class="field">
                <label class="form-label" for="lab-name">Laboratory Name</label>
                <InputText @bind-Value="Model.LaboratoryName" class="form-control" id="lab-name" placeholder="e.g., Beacon Labs" />
                <ValidationMessage For="() => Model.LaboratoryName" />
            </div>
        </div>
        <footer class="modal-footer">
            <SubmitButton>Create Lab</SubmitButton>
            <ModalCancelButton />
        </footer>
    </Modal>
</BeaconForm>

