<button type="button" @onclick="ShowCreateInstrumentModal" @attributes="AdditionalAttributes">
    <span class="icon">
        <i class="fa-solid fa-plus"></i>
    </span>
    <span>Create</span>
</button>
