<BeaconForm Model="Request" OnValidSubmit="Submit">
    <Modal>
        <div class="modal-body">
            <div class="field">
                <label class="form-label" for="instrumentType">Instrument Type</label>
                <InputText @bind-Value="Request.InstrumentType" class="form-control" id="instrumentType" placeholder="e.g., FMS" />
                <ValidationMessage For="() => Request.InstrumentType" />
            </div>
            <div class="field">
                <label class="form-label" for="sn">Instrument Name</label>
                <InputText @bind-Value="Request.SerialNumber" class="form-control" id="sn" placeholder="e.g., FMS-760" />
                <ValidationMessage For="() => Request.SerialNumber" />
            </div>
        </div>
        <footer class="modal-footer">
            <SubmitButton>Create Instrument</SubmitButton>
            <ModalCancelButton />
        </footer>
    </Modal>
</BeaconForm>
