@using BeaconUI.Core.Memberships.Components

<BeaconForm Model="Model" OnValidSubmit="Submit">
    <Modal>
        <div class="modal-body">
            <div class="row">
                <div class="field">
                    <label class="form-label" for="customerName">Customer Name</label>
                    <InputText @bind-Value="Model.CustomerName" class="form-control" id="customerName" placeholder="e.g., Acme Corp" />
                    <ValidationMessage For="() => Model.CustomerName" />
                </div>
                <div class="field">
                    <label class="form-label" for="customerCode">Customer Code</label>
                    <InputText @bind-Value="Model.CustomerCode" class="form-control" id="customerCode" placeholder="e.g., ACM" />
                    <ValidationMessage For="() => Model.CustomerCode" />
                </div>
                <div class="field">
                    <label class="form-label" for="application">Project Application</label>
                    <InputText @bind-Value="Model.Application" class="form-control" id="application" placeholder="e.g., CCI" />
                    <ValidationMessage For="() => Model.Application" />
                </div>
                <div class="field">
                    <label class="form-label" for="member">Lead Analyst</label>
                    <InputSelect @bind-Value="Model.LeadAnalystId" class="form-select" id="member">
                        <option>None</option>
                        <MembershipContext>
                            @if (!context.IsLoading() && !context.HasErrors())
                            {
                                foreach (var member in context.Members.Where(m => m.MembershipType >= LaboratoryMembershipType.Analyst))
                                {
                                    <option value="@member.Id">@member.DisplayName</option>
                                }
                            }
                        </MembershipContext>
                    </InputSelect>
                    <ValidationMessage For="() => Model.LeadAnalystId" />
                </div>
            </div>
        </div>
        <footer class="modal-footer">
            <SubmitButton>Create Project</SubmitButton>
            <ModalCancelButton />
        </footer>
    </Modal>
</BeaconForm>

