@using Beacon.Common
@inherits LayoutComponentBase

<TopNav />

<div class="page d-flex flex-column h-100" style="overflow-x: hidden; padding-top: var(--topnav-height);">

    <main class="d-flex flex-row flex-grow-1">
        @if (CurrentLab is not null)
        {
            <CascadingValue Value="CurrentLab">
                <LaboratorySideNav />
                <div class="d-flex flex-column flex-grow-1" style="overflow-x: auto;">
                    @Body
                </div>
            </CascadingValue>
        }
    </main>

    <EnvironmentWarning />
</div>

@code {

    private LaboratoryDto? CurrentLab { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await ApiClient.GetCurrentLaboratory();

        result.Switch(
            value => CurrentLab = value,
            error => NavigationManager.NavigateTo("")
        );
    }
}