@using BeaconUI.Core.Services

@inherits LayoutComponentBase

<TopNav>
    <NavbarBrand>
        <a class="navbar-brand" href="" @onclick="LogoutOfLab">Beacon LMS</a>
    </NavbarBrand>
</TopNav>

<div class="page d-flex flex-column h-100" style="overflow-x: hidden; padding-top: var(--topnav-height);">

    <main class="d-flex flex-row flex-grow-1">
        <SessionInfo Context="session">
            @if (session.CurrentLab is null)
            {
                <RedirectTo Uri="" />
            }
            else
            {
                <LaboratorySideNav />
                <div class="d-flex flex-column flex-grow-1" style="overflow-x: auto;">
                    @Body
                </div>
            }
        </SessionInfo>
    </main>
</div>

@code {

    [Inject] 
    private BeaconAuthStateProvider AuthStateProvider { get; set; } = null!;

    private async Task LogoutOfLab()
    {
        var result = await ApiClient.LogoutOfLaboratory();
        AuthStateProvider.NotifyAuthenticationStateChanged();
    }
}
