@inherits LayoutComponentBase

<TopNav />

<div class="page d-flex flex-column h-100" style="overflow-x: hidden; padding-top: var(--topnav-height);">

    <main class="d-flex flex-row flex-grow-1">
        <SessionInfo Context="session">
            @if (session.CurrentLab is null)
            {
                <RedirectTo Uri="" />
            }
            else
            {
                <LaboratorySideNav />
                <div class="d-flex flex-column flex-grow-1" style="overflow-x: auto;">
                    @Body
                </div>
            }
        </SessionInfo>
    </main>

    <EnvironmentWarning />
</div>
