@inherits LayoutComponentBase

<TopNav />

<div class="page d-flex flex-column h-100" style="overflow-x: hidden; padding-top: var(--topnav-height);">

    <main class="d-flex flex-row flex-grow-1">
        @if (CurrentLab is not null)
        {
            <CascadingValue Value="CurrentLab">
                <LaboratorySideNav />
                <div class="d-flex flex-column flex-grow-1" style="overflow-x: auto;">
                    @Body
                </div>
            </CascadingValue>
        }
    </main>

    <EnvironmentWarning />
</div>

@code {

    [Inject]
    private Services.CurrentLabService CurrentLabService { get; set; } = null!;

    private LaboratoryDto? CurrentLab { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        CurrentLab = await CurrentLabService.GetCurrentLaboratory();

        if (CurrentLab is null)
            NavigationManager.NavigateTo("");
    }
}