@inherits LayoutComponentBase

<TopNav />

<div class="page d-flex flex-column h-100" style="overflow-x: hidden; padding-top: var(--topnav-height);">
    <main class="d-flex flex-row flex-grow-1">
        @Body
    </main>
</div>
