@using BeaconUI.Core.Auth

@inherits LayoutComponentBase

@inject BeaconAuthClient AuthService

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <div class="ml-auto">
                        <span>Hello, @context.User.Identity!.Name!</span>
                        <button class="btn btn-link ms-1" @onclick="() => AuthService.Logout()">Logout</button>
                    </div>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <NavigateTo Url="login" />
    </NotAuthorized>
    <Authorizing>
        <p>Authorizing...</p>
    </Authorizing>
</AuthorizeView>
