@inherits LayoutComponentBase

<div class="page d-flex flex-column h-100">
    <TopNav>
        <NavbarBrand>
            <a class="navbar-brand" href="">Beacon LMS</a>
        </NavbarBrand>
    </TopNav>
    <main class="d-flex flex-row flex-grow-1">
        <div class="content px-4 flex-grow-1">
            @Body
        </div>
    </main>
</div>
