<button type="button" disabled="@IsDisabled" @onclick="Click" @attributes="@AdditionalAttributes">
    <span class="icon">
        <i class="fa-solid fa-plus"></i>
    </span>
    <span>Create project</span>
</button>

