<span class="badge rounded-pill d-block @Class">
    @ChildContent
</span>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Class { get; set; } = "bg-secondary";
}