@page "/new-lab"
@attribute [Authorize]

<h3>Create lab page</h3>

<BeaconForm Model="Model" OnValidSubmit="Submit">
    <div class="field">
        <label class="form-label" for="lab-name">Laboratory Name</label>
        <InputText @bind-Value="Model.Name" class="form-control" id="lab-name" placeholder="e.g., Beacon Labs" />
        <ValidationMessage For="() => Model.Name" />
    </div>

    <div class="field">
        <button type="submit" class="btn btn-primary w-100">Create Lab</button>
    </div>
</BeaconForm>