@page "/l"
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader>
    <h4 class="mb-0">@context.Name</h4>
</LaboratoryPageHeader>

<PageContainer>
    <div class="row">
        <div class="col-12 col-lg">
            <Chart Config="_config" @ref="_chart"></Chart>
        </div>
        <div class="col-12 col-lg-auto" style="min-width: 21rem;">
            @if (Events is { Value: { Count: > 0 } } events)
            {
                var timelineItems = events.Value.Items
                    .Select(e => new TimelineItem<LaboratoryEventDto>
                    {
                        Timestamp = e.ScheduledStart,
                        Value = e
                    });

                <h6 style="margin-bottom: 0.75rem;">Laboratory Schedule</h6>
                <div class="mb-4">
                    <Timeline TimelineItems="timelineItems">
                        <div style="margin-bottom:0.625rem;">
                            <p class="text-muted mb-0 d-flex align-items-center" style="font-size: 0.8rem; gap: 0.2rem;">
                                <div>@context.Timestamp.ToString("dd-MMM-yyyy")</div>
                                @if (context.Value.IsOngoingDuring(DateTime.UtcNow))
                                {
                                    <div class="d-flex">
                                        <Badge Class="is-primary">Ongoing</Badge>
                                    </div>
                                }
                            </p>
                            <a class="btn btn-link p-0" style="font-size: 0.925rem; text-decoration: none;">@context.Value.Title</a>
                        </div>
                    </Timeline>
                </div>
            }
        </div>
    </div>
</PageContainer>
