@page "/l/calendar"
@page "/l/schedule"
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader>
    <h4 class="mb-0">Laboratory Calendar</h4>
</LaboratoryPageHeader>

<PageContainer>
    <p>Calendar page</p>
</PageContainer>