@page "/l"
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader>
    <h4 class="mb-0">@context.Name</h4>
</LaboratoryPageHeader>

<div class="d-flex flex-column flex-grow-1" style="overflow-x: auto;">
    <div class="content flex-grow-1" style="background-color: #f8fafc">
        <div class="px-4 h-100">
            <div class="row">
                <div class="col-12 col-lg">
                </div>
                <div class="col-12 col-lg-auto" style="min-width: 21rem;">
                    @if (Events is { Value: { Length: > 0 } } events)
                    {
                        var timelineItems = events.Value
                            .Select(e => new TimelineItem<LaboratoryEventDto> 
                                { 
                                    Timestamp = e.ScheduledStart.DateTime,
                                    Value = e 
                                });

                        <h6 style="margin-bottom: 0.75rem;">Laboratory Schedule</h6>
                        <div class="mb-4">
                            <Timeline TimelineItems="timelineItems">
                                <div style="margin-bottom:0.625rem;">
                                    <p class="text-muted mb-0 d-flex align-items-center" style="font-size: 0.75rem; gap: 0.2rem;">
                                        <div>@context.Timestamp.ToString("dd-MMM-yyyy")</div>
                                    </p>
                                    <a class="btn btn-link p-0" style="font-size: 0.925rem; text-decoration: none;">@context.Value.Title</a>
                                </div>
                            </Timeline>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
