@page "/l"
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader>
    <h4 class="mb-0">@context.Name</h4>
</LaboratoryPageHeader>

<PageContainer>
    <div class="row">
        <div class="col-md-9">
            @if (ProjectInsights is { IsError: false} insights)
            {
                <div class="row mb-2">
                    @foreach (var insight in insights.Value)
                    {
                        <div class="col-12 col-xxl-4 mb-2">
                            <InsightCard Insight="insight" />
                        </div>
                    }
                </div>
            }
            <div class="card p-2 position-relative mb-4" style="height: 60vh; width: 100%">
                <Chart @ref="_chart" Config="_config"></Chart>
            </div>
        </div>
        <div class="col-md-3">

            <h6 style="margin-bottom: 0.75rem;">Upcoming Events</h6>

            @if (Events is not { } eventsOrError)
            {
                <p>Loading...</p>
            }
            else if (eventsOrError.IsError)
            {
                <p class="text-danger">There was an error loading laboratory events.</p>
            }
            else if (eventsOrError.Value is not { Count: > 0 } events)
            {
                <p>There are no upcoming laboratory events.</p>
            }
            else
            {
                var timelineItems = events.Items
                    .Select(e => new TimelineItem<LaboratoryEventDto>
                    {
                        Timestamp = e.ScheduledStart,
                        Value = e
                    });

                <div class="mb-4">
                    <Timeline TimelineItems="timelineItems">
                        <div style="margin-bottom:0.625rem;">
                            <p class="text-muted mb-0 d-flex align-items-center" style="font-size: 0.8rem; gap: 0.2rem;">
                                <div>@context.Timestamp.ToString("dd-MMM-yyyy")</div>
                                @if (context.Value.IsOngoingDuring(DateTimeOffset.UtcNow))
                                {
                                    <div class="d-flex">
                                        <Badge Class="is-primary">Ongoing</Badge>
                                    </div>
                                }
                            </p>
                            <a class="btn btn-link p-0" style="font-size: 0.925rem; text-decoration: none;" href="l/projects/@context.Value.ProjectCode">@context.Value.Title</a>
                        </div>
                    </Timeline>
                </div>
            }
        </div>
    </div>
</PageContainer>
