@page "/laboratories/{Id}"
@attribute [Authorize]

<CurrentUserMemberships Context="Memberships">
    @if (Memberships.FirstOrDefault(m => m.LaboratoryId.ToString() == Id) is { } membership)
    {
        <h3 style="display: flex; align-items: center; gap: 0.5rem;">
            <AvatarSquare Value="@membership.LaboratoryName[0]" />
            <span>@membership.LaboratoryName</span>
        </h3>

        <hr />

        <p>Current lab members:</p>
        <LabMemberships LaboratoryId="membership.LaboratoryId" />
    }
    else
    {
        <RedirectTo Uri="" />
    }
</CurrentUserMemberships>

@code {

    [Parameter] public required string Id { get; set; }
}