@page "/"
@attribute [Authorize]

<h1>Hello, world!</h1>

Welcome to your new app.

<CurrentUserMemberships Context="memberships">
    @if (!memberships.Any())
    {
        <p>You are not currently a member of a laboratory.</p>
    }
    else
    {
        <ul>
            @foreach (var membership in memberships)
            {
                <li>
                    <a href="@NavigationHelper.GetLabDetailsHref(membership.LaboratoryId)">@membership.LaboratoryName</a>
                </li>
            }
        </ul>
    }
</CurrentUserMemberships>
