@page "/laboratories/{Id:guid}"
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader />
<LaboratoryPageContent>
    <p>This is the laboratory details page.</p>
</LaboratoryPageContent>

