@page "/l/members"
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader>
    <h4 class="me-auto">Members</h4>
    <InviteMemberButton />
</LaboratoryPageHeader>

<div class="content flex-grow-1" style="background-color: #f8fafc">
    <div class="px-4 h-100">
        <MembershipContext>
            @if (context.Result is not { } result)
            {
                <p>Loading...</p>
            }
            else if (result.IsError)
            {
                <p class="text-danger">There was an error loading laboratory members.</p>
            }
            else
            {
                <div class="table-responsive h-100">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th>Display Name</th>
                                <th>Email Address</th>
                                <th>Role</th>
                                @if (context.CanManagePermissions())
                                {
                                    <th style="width: 0%;"></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var member in result.Value)
                            {
                                <tr>
                                    <td>@member.DisplayName</td>
                                    <td>
                                        <a href="mailto:@member.EmailAddress">@member.EmailAddress</a>
                                    </td>
                                    <td>@member.MembershipType</td>
                                    @if (context.CanManagePermissions())
                                    {
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-small" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <UpdateMembershipTypeButton Member="member" class="dropdown-item" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </MembershipContext>
    </div>
</div>
