@page "/"
@attribute [Authorize]

@if (ActiveLab is null)
{
    <div class="flex">
        <h3 class="flex-grow-1">My Laboratories</h3>
        <a href="new-lab" class="btn btn-link">New lab</a>
    </div>

    <MyLaboratories Context="labs">
        <LaboratoriesTable Laboratories="labs" />
    </MyLaboratories>
}
else
{
    <LaboratoryPageHeader />

    <div class="content flex-grow-1" style="background-color: #f8fafc">
        <div class="px-4 h-100">
            <p>This is the laboratory details page.</p>
        </div>
    </div>
}

@code {
    
    [CascadingParameter] 
    private LaboratoryDetailDto? ActiveLab { get; set; }
}