@if (Laboratories is null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th># Members</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lab in Laboratories)
                {
                    <tr>
                        <td></td>
                        <td>
                            <a href="@($"laboratories/{lab.Id}")">
                                <AvatarSquare Value="@lab.Name[0]" FontSize="1rem" Size="1.5rem" />
                                <span class="nav-text">@lab.Name</span>
                            </a>
                        </td>
                        <td>
                            @lab.MemberCount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {

    [Parameter, EditorRequired]
    public required LaboratoryDto[]? Laboratories { get; set; }
}